// TODO
.exitPreview {
  border: none;
  width: 720px;
  height: 58px;
  border-radius: 4px;
  background-color: var(--gray-50);
  margin: 5rem auto;
  cursor: pointer;

  a {
    text-decoration: none;
    color: var(--gray-900);
    font-weight: 600;
  }

  &:hover {
    filter: brightness(0.8);
  }
}
